@{
    ViewData["Title"] = "Home Page";
}

<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>


<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h4>Welcome to the Pitt Urban Gaming Club</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">Humans vs Zombies!</h1>
    <div class="w3-padding-32">
      <a class="button" asp-area="" asp-controller="Players" asp-action="Index">Go to Player Tracker</a>
    </div>
  </div>
</header>

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Sign-Up</h3><br>
  <i class="fa fa-pencil w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p><a href="/players">Click Here to Sign Up!</a></p>
  <p></p>
  <p>must be a pitt student</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Rules</h3><br>
  <i class="fa fa-book w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>DBAD</p>
  <p><a>Safe Play Areas</a></p>
  <p>No-Play Zones</p>
  <p>Headband Wearing</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Moderators</h3><br>
  <i class="fa fa-users w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Josh</p>
  <p>Imran</p>
  <p>Shannon</p>
  <p>Alex</p>
  </div>
</div>
</div>

<!--  <div class="w3-col w3-container m2 w3-red"><p>Red</p></div>
  <div class="w3-col w3-container m2 w3-blue"><p>Blue</p></div>
  <div class="w3-col w3-container m2 w3-blue-grey"><p>Blue Grey</p></div>
  <div class="w3-col w3-container m2 w3-teal"><p>Teal</p></div>
  <div class="w3-col w3-container m2 w3-yellow"><p>Yellow</p></div>
  <div class="w3-col w3-container m2 w3-orange"><p>Orange</p></div>-->
